<header style="text-align:center;">
    <div>
        <a href="/">
            <span class="glyphicons glyphicons-message-forward">뒤로가기</span>
        </a>      
    </div>
    <div>
        <a href="/">
            <%= image_tag "연합베터리.PNG", class: "h-main-img" %>
        </a>
    </div>
    <div>
        <a href="/">
            <%= image_tag "연합베터리.PNG", class: "h-main-img" %>
        </a>
    </div>
</header>