<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=A3pPTu55hRHVPt6djigh&submodules=geocoder"></script>
  <title>연합배터리</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="자동차, 배터리, 베터리, 밧데리, 정릉, 성북구, 카센터">
  <meta property="og:description" content="정릉, 성북구, 자동차밧데리, 배터리 저렴한곳. 자동차배터리 자동차정비 "> 
</head>
<body>

<%= yield %>

</body>
</html>
